<p>
   The purpose of this module is to provide students with working knowledge about the brain in the field of cognitive neuroscience, and practical experience of analysing fMRI data and doing reproducible research.
   The module interweaves lectures and hands-on experience of data processing, using the University cloud computing infrastructure ("<a href="https://teams.microsoft.com/l/entity/com.microsoft.teamspace.tab.wiki/tab::1f1aa434-aa43-4694-ab5c-67d7d15161cd?context=%7B%22subEntityId%22%3A%22%7B%5C%22pageId%5C%22%3A3%2C%5C%22origin%5C%22%3A2%7D%22%2C%22channelId%22%3A%2219%3A3b738799a7864aa7a805561376319f97%40thread.skype%22%7D&tenantId=4ffa3bc4-ecfc-48c0-9080-f5e43ff90e5f">CINN Nutanix virtual machine platform</a>"). Students will familiarise themselves with each step of a typical processing pipeline, learn how to script and automate analyses, and be introduced to the best practices in reproducible neuroimaging.
</p>
<p>
    Our aim is to introduce recent ideas, techniques and current state of knowledge about the brain, in the field of cognitive neuroscience, and develop practical expertise in the tools and methods used in the analysis of fMRI data.
    Students will also develop a critical appreciation of neuroimaging, with a view to understanding current directions and methodological debates, and supporting a career in data-intensive sectors.
</p>

<p>
   You can access the Module Description <a href="https://www.reading.ac.uk/modules/document.aspx?modP=PYM0FM&modYR=2021">there</a>, including some information about expected contact hours.
   The module is currently timetabled in 2 seminars of 2h each a week. Face-to-face sessions will be held in the Harry Pitt Building, in room G37; students are advised to wear masks if they can, and maintain social distancing as much as possible. Online sessions, for self-isolating, distant students or otherwise agreed, will be held <a href="https://teams.microsoft.com/l/team/19%3acc821c11cd014f19bea61a6428c11818%40thread.tacv2/conversations?groupId=66da0d95-0f79-4dd5-abe9-8e737ef5d6b8&tenantId=4ffa3bc4-ecfc-48c0-9080-f5e43ff90e5f">on the PYM0FM team on Microsoft Teams</a>.
</p>

<p>
    For more information on what we teach and why,
    please see<br/>
    &ndash; Poldrack et al. (2011). Handbook of functional MRI data analysis. Cambridge Univ. Press. <a href="http://www.fmri-data-analysis.org/">http://www.fmri-data-analysis.org</a><br/>
    &ndash; Kennedy et al. (2019). Everything matters: the repronim perspective on reproducible neuroimaging. Frontiers in Neuroinformatics, 13(1). <a href="https://www.frontiersin.org/articles/10.3389/fninf.2019.00001/full">https://doi.org/10.3389/fninf.2019.00001</a><br/>
    &ndash; Ghosh et al. (2017). A very simple, re-executable neuroimaging publication. F1000 6(124). <a href="https://f1000research.com/articles/6-124">https://doi.org/10.12688/f1000research.10783.2</a><br/>
    &ndash; Wilson et al. (2014). Best Practices for Scientific Computing. PLOS Biology 12(1). <a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">https://doi.org/10.1371/journal.pbio.1001745</a>
</p>
