<div class="row">
  <div class="col-md">
    <table class="table table-striped">
      <tr>
        <td style="min-width:160px"><h4>Wed 30 Sept, 2020</h4></td>
        <td>
          <p><h4>Introduction to reproducibility (1/2): The problems</h4></p>
          <p>Slides (up to #34): <a href="https://osf.io/e76p4">https://osf.io/e76p4</a></p>
          <p>Ice breaker: What is your favourite flavour of ice cream?</p>
          <p>Promises and commitments for the module</p>
        </td>
      </tr>

      <tr>
        <td><h4>Fri 1 Oct, 2020</h4></td>
        <td>
          <p><h4>Introduction to reproducibility (2/2): The solutions</h4></p>
          <p>Slides (from #34): <a href="https://osf.io/e76p4">https://osf.io/e76p4</a></p>
        </td>
      </tr>

       <tr>
         <td><h4>Wed 7 Oct, 2020</h4></td>
        <td>
          <p><h4>The CINN Nutanix Virtual Machines Platform & the Unix Shell (1/3)</h4></p>
          <p><a href="https://forms.gle/q4cCgRouQjt7QfqV7">Pre-Module survey</a></p>
          <p>The CINN Nutanix VM Platform is a Univ:
            <ul>
              <li>Microsoft Teams: <a href="https://teams.microsoft.com/l/channel/19%3a3b738799a7864aa7a805561376319f97%40thread.skype/Lab%2520-%2520Computational?groupId=d93e607e-1810-4ee8-988d-ea4ce2f09ab8&tenantId=4ffa3bc4-ecfc-48c0-9080-f5e43ff90e5f">@Lab - Computational</a> to ask questions + <a href="https://teams.microsoft.com/l/entity/com.microsoft.teamspace.tab.wiki/tab::1f1aa434-aa43-4694-ab5c-67d7d15161cd?context=%7B%22subEntityId%22%3A%22%7B%5C%22pageId%5C%22%3A3%2C%5C%22origin%5C%22%3A2%7D%22%2C%22channelId%22%3A%2219%3A3b738799a7864aa7a805561376319f97%40thread.skype%22%7D&tenantId=4ffa3bc4-ecfc-48c0-9080-f5e43ff90e5f">Wiki</a> + importantly, the <a href="https://youtu.be/JJcGxXyQiSg">Youtube screencast</a></li>
              <li>VPN: <a href="https://uorvpn.reading.ac.uk">uorvpn</a> + <a href="https://research.reading.ac.uk/act/knowledgebase/install-pulse-secure-on-windows-10/">Academic Computing Team (ACT)</a> + <a href="https://www.pulsesecure.net/trynow/client-download/">Pulse Secure client</a></li>
              <li>We've also looked at the <a href="http://status.act.reading.ac.uk">Status page</a> from the Academic Computing Team, because the network was very slow and we wanted to understand what was going on.</li>
              <li><a href="https://rrc.reading.ac.uk:9440/">The Nutanix portal (aka Calm)</a><br/>Your login is of the form your_IT_login@reading.ac.uk (not your email address, as shown in the <a href="https://youtu.be/JJcGxXyQiSg">screencast</a>)</li>
            </ul>
            <p><u>Exercise</u> &ndash; Get on the VPN. Create a VM application using the "CINN Neurodebian" blueprint v1.0.22.
              Using the menu on the top-left corner, open Applications > NeuroDebian > Medical Imaging > FSLView.
              In FSLView, open File > Open standard..., and find a file that will show a full brain.
            <b>And</b>, importantly, when you are done, delete your vm application. You should create a new one whenever you need one.</p>
          <p><a href="http://swcarpentry.github.io/shell-novice/">The Unix Shell by the Software Carpentry</a>: download the accompanying <a href="http://swcarpentry.github.io/shell-novice/setup.html">data</a></p>
          </p>
        </td>
       </tr>

       <tr>
         <td><h4>Fri 9 Oct, 2020</h4></td>
         <td>
           <h4>Revision (extra session)</h4>
           <ul>
               <li>VPN: <a href="https://uorvpn.reading.ac.uk">uorvpn</a> + <a href="https://research.reading.ac.uk/act/knowledgebase/install-pulse-secure-on-windows-10/">Academic Computing Team (ACT)</a> + <a href="https://www.pulsesecure.net/trynow/client-download/">Pulse Secure client</a></li>
              <li><a href="https://rrc.reading.ac.uk:9440/">The Nutanix portal (aka Calm)</a><br/>Your login is of the form your_IT_login@reading.ac.uk (not your email address, as shown in the <a href="https://youtu.be/JJcGxXyQiSg">screencast</a>)</li>
              <li>a href="https://www.nomachine.com/download">https://www.nomachine.com/download</a></li>
           </ul>
        </td>
      </tr>

       <tr>
         <td><h4></h4></td>
        <td>
          <p><h4>The CINN Nutanix Virtual Machines Platform & the Unix Shell (2/3)</h4></p>
          <p><a href="https://www.nomachine.com/download">https://www.nomachine.com/download</a></p>
          <p><a href="http://swcarpentry.github.io/shell-novice/">The Unix Shell by the Software Carpentry</a>: download the accompanying <a href="http://swcarpentry.github.io/shell-novice/setup.html">data</a></p>
          <p><u>Exercise</u> &ndash; On a "CINN Neurodebian 1.0.22" vm application, open a Terminal and type:</p>
          <p>
            <code>module load anaconda2</code>&nbsp;&nbsp;&nbsp;<em># Load python v2 and make it accessible on your shell</em><br/>
            <code>git clone https://github.com/eroesch/scavenger-hunt.git</code><br/>
            <code>cd scavenger-hunt</code><br/>
            <code>nano README.md</code>&nbsp;&nbsp;&nbsp;<em># Use nano to read the file README.md to read where to find clue #2</em><br/>
            <code>python generate_clues.py 42</code>&nbsp;&nbsp;&nbsp;<em># To be done just once, generates the clues/ folder with secret number of 42</em><br/>
            <code>python next_clues.py 42 3 10</code>&nbsp;&nbsp;&nbsp;<em># python next_clues.py 42 [id of next clue] [hint you found]</em>
          </p>
          <p>One <a href="https://github.com/fliptheweb/bash-shortcuts-cheat-sheet">Bash Shell cheatsheet</a> of <a href="http://letmegooglethat.com/?q=shell+bash+cheatsheet">many</a></p>
        </td>
      </tr>

      <tr>
        <td><h4>Wed 14 Oct, 2020</h4></td>
        <td><h4>The CINN Nutanix Virtual Machines Platform & the Unix Shell (3/3)</h4>
            <p><a href="./01-scavenger-hunt-solutions">Solutions to the Bash Scavenger Hunt!</a></p>
          <p>A few things to remember:
            <ul>
              <li><a href="http://google.com">http://google.com</a> is your friend: simply copy-paste your error in a Google search, use double-quotes (") to include it literally.<br/>Somewhere, someone will have faced and hopefully solved the same error.</li>
              <ul><li><a href="https://stackoverflow.com/questions">https://stackoverflow.com/questions</a></li></ul>
                  <li><a href='https://teams.microsoft.com/l/team/                   19%3acc821c11cd014f19bea61a6428c11818%40thread.tacv2/conversations?groupId=66da0d95-0f79-4dd5-       abe9-8e737ef5d6b8&tenantId=4ffa3bc4-ecfc-48c0-9080-f5e43ff90e5f'>the PYM0FM team on Microsoft        Teams</a></li>
                  <li><a href="https://teams.microsoft.com/l/channel/19%3a3b738799      a7864aa7a805561376319f97%40thread.skype/Lab%2520-%2520Computational?groupId=d93e607e-1810-4ee8-      988d-ea4ce2f09ab8&tenantId=4ffa3bc4-ecfc-48c0-9080-f5e43ff90e5f">@Lab - Computational</a> on the CINN Imaging Community team</li>
                  <li><a href="https://explainshell.com/">https://explainshell.com/</a></li>
                  <li><a href="https://tldr.sh/">https://tldr.sh/</a></li>
                  <li><a href="https://www.shellcheck.net/">https://www.shellcheck.net/</a></li>
            </ul>
          </p>
        </td>
      </tr>

      <tr>
        <td><h4>Fri 16 Oct, 2020</h4></td>
        <td><h4>Revision (extra session)</h4>
          <p><a href="http://swcarpentry.github.io/shell-novice/">The Unix Shell by the Software Carpentry</a>: download the accompanying <a href="http://swcarpentry.github.io/shell-novice/setup.html">data</a></p>
        </td>
      </tr>

      <tr>
        <td><h4></h4></td>
        <td><h4>The Unix Shell</h4>
          <p><u>Exercises</u> &ndash; Form pairs with your neighbour, and try this:
            <ol>
              <li> Write a Bash script that prints "Hello world!" to the screen.</li>
              <li> Write a Bash script that asks the user for their name and greets them with their name.</li>
              <li> Modify the previous script such that only Alice and Bob are greeted with their names; everyone else is greeted but not by name.</li>
              <li> Write a Bash script that asks the user for a number n and prints the sum of the numbers from 1 to n.</li>
              <li> Write a Bash script that writes the times tables up to 12.</li>
              <li> .. and if you want more: <a href="https://adriann.github.io/programming_problems.html">https://adriann.github.io/programming_problems.html</a></li>
            </ol>
          </p>
          <p><a href="https://www.datascienceatthecommandline.com/">Data science at the command line</a>: a free hands-on book on how to use the command line for data science</p>

        </td>
      </tr>

     <tr>
        <td><h4>Wed 21 Oct, 2020</h4></td>
        <td><h4>fMRI Analysis: Introduction</h4>
          <p>In the course of the coming weeks, we dive into the analysis of <a href="https://en.wikipedia.org/wiki/Functional_magnetic_resonance_imaging#BOLD_hemodynamic_response">BOLD fMRI data</a>, and take our first steps with <a href="https://fsl.fmrib.ox.ac.uk/fsl/fslwiki/">FSL</a>.
            I will often use and refer to concepts that you are also reviewing in PYM0S1 Statistics, concurrently to this module, as both modules are very complementary; please keep an eye out, and do ask questions in both modules.
          </p>
          <p>
            We will take a "flipped" approach, whereby I will recommend videos for you to watch at your own pace, from the FSL training course, and we will spend our time together on practical examples.
            We will not cover all 42 videos of the course, which span quite advanced topics.
            Instead, we will focus on a selection of videos, which I will also complement with the odd video from Youtube.
          </p>
          <p>For your reference, you can find all the material for the course material <a href="https://fsl.fmrib.ox.ac.uk/fslcourse/online_materials.html">https://fsl.fmrib.ox.ac.uk/fslcourse/online_materials.html</a>, and the accompanying videos on Youtube (<a href="https://www.youtube.com/playlist?list=PLvgasosJnUVl_bt8VbERUyCLU93OG31h_">https://www.youtube.com/playlist?list=PLvgasosJnUVl_bt8VbERUyCLU93OG31h_</a>).
          </p>
          <p><u>Watch:</u>
            <ul>
              <li>Principles of fMRI, by Martin Lundquist and Tor Wager: <a href="https://youtu.be/ZL-Tr1KSMKY">Video 1</a> (9 min), and <a href="https://youtu.be/tQyMqRqHwao">Video 2</a> (13 min)</li>
              <li>11. FMRI1: Introduction to task fMRI experiments and analysis (fMRI1 E1), by the FSL team:<br/><a href="https://youtu.be/y7wtbMl3y4E">https://youtu.be/y7wtbMl3y4E</a> &mdash; 14 min</li>
              <li>22. FMRI3: Pipeline Overview (fMRI3 E1), by the FSL team:<br/><a href="https://youtu.be/aAbUDr1FqG4">https://youtu.be/aAbUDr1FqG4</a> &mdash; 15 min</li>
            </ul>
          </p>
          <p><u>Must read:</u>
            <ul>
                <li>Chapter 1 of Poldrack, R., Mumford, J., Nichols, T. (2011). Handbook of Functional MRI Data Analysis. Cambridge: Cambridge University Press. <a href="https://doi.org/10.1017/cbo9780511895029">doi:10.1017/CBO9780511895029</a>. Accessible from the library <a href="http://idpproxy.reading.ac.uk/login?url=http://lib.myilibrary.com?id=329572i">there</a>.</li>
            </ul>
          </p>
          <p><u>Should read:</u>
            <ul>
              <li>Lindquist, M. A. (2008). The Statistical Analysis of fMRI Data. Statistical Science, 23(4), 439–464. <a href="https://doi.org/10.1214/09-STS282">https://doi.org/10.1214/09-STS282</a></li>
              <li>Smith, S. M. (2004). Overview of fMRI analysis. The British Journal of Radiology, 77(suppl_2), S167–S175. <a href="https://doi.org/10/cmmp4k">https://doi.org/10/cmmp4k</a></li>
              <li>Soares, J. M., Magalhães, R., Moreira, P. S., Sousa, A., Ganz, E., Sampaio, A., Alves, V., Marques, P., Sousa, N. (2016). A Hitchhiker’s Guide to Functional Magnetic Resonance Imaging. Frontiers in Neuroscience, 10. <a href="https://doi.org/10/gfztc4">https://doi.org/10/gfztc4</a></li>
            </ul>
        </td>
      </tr>


    </table>
  </div>
</div>

<!--
      <tr>
        <td><h4>date</h4></td>
        <td><h4>title</h4>
          <p>list of things</p>
        </td>
      </tr>


<div class="row">
  <div class="col-md">
    <h3></h3>
    <table class="table table-striped">
      <tr> <td>Tue 8/10 (w2), 4-6pm</td> <td><a href="{{ site.pym0fm_pre_survey }}">Pre-workshop survey</a>, <a href="https://docs.google.com/presentation/d/1SZZsDeVe-Dgfhi8IdZw_stlqscPT9GXZWqa5egb8zU8/edit?usp=sharing">slides</a>, <a href="https://rrc.reading.ac.uk:9440/console/#login">CINN Nutanix Virtual Machines platform</a> </td> </tr>
      <tr> <td>Tue 15/10 (w3), 4-6pm</td> <td><a href="https://swcarpentry.github.io/shell-novice/">shell</a>, <a href="https://rrc.reading.ac.uk:9440/console/#login">CINN Nutanix Virtual Machines platform</a> and don't forget the <a href="https://docs.google.com/document/d/1s6YERF7Abc75SSNma0dg22aCsa4j9DAWl00I5OV3piQ/edit#">Collaborative Document</a>! </td> </tr>
      <tr> <td>Tue 22/10 (w4), 4-6pm</td> <td>Basics of fMRI analysis: <a href="{{ page.root }}/files/week%204%20-%20neuro.pdf">slides neuro</a> + <a href="{{ page.root }}/files/week%204%20-%20intro.pdf">slides intro fmri</a> + <a href="{{ page.root }}/files/week_4_worksheet.docx">worksheet</a></td> </tr>
      <tr> <td>Tue 29/10 (w5) 4-6pm</td> <td>Feat: <a href="{{ page.root }}/files/week_5.pdf">slides</a> + <a href="{{ page.root }}/files/week_5_FEATpre-processing_exercise.pdf">worksheet</a></td> </tr>
      <tr> <td>Tue 12/11 (w7), 4-6pm</td> <td><a href="">Recap: from collecting samples to calculating regressions</a></td> </tr>
      <tr> <td>Tue 19/11 (w8), 4-6pm</td> <td>Recap: fMRI pre-processing (<a href="{{ page.root }}/files/week_8%20-%20preps%20and%20activation.pptx">slides</a>) and single session analysis (<a href="{{ page.root }}/files/week_8%20-%20single%20session.ppt">slides</a>) + <a href="{{ page.root }}/files/week_8_FEATpre-processing_exercise.docx">worksheet</a></td> </tr>
      <tr> <td>Tue 26/11 (w9), 4-6pm</td> <td>Multi-sessions analysis (<a href="{{ page.root }}/files/week_9%20-%20multisession.ppt">slides</a> + <a href="{{ page.root }}/files/week_9_worksheet.doc">worksheet</a>)</td> </tr>
      <tr> <td>Tue 3/12 (w10), 4-6pm</td>  <td>Thresholding (<a href="{{ page.root }}/files/week_10%20-%20thresholding.ppt">slides</a>+ <a href="{{ page.root }}/files/week_10_worksheet.doc">worksheet</a>)</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Of abacus, computers and the internet</h3>
      The main aim of Day 1 is introduce you to some of the tools of the trade. We will
      </div>
</div>
-->
